.button-bar {
    position: absolute;
    width: 100%;
    height: 217px; /* below map */
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.button-bar__side {
    color: transparent;
    width: 100%;
    height: 100%;
    flex: 1 1 0;
    text-align: center;
    position: relative;
}

.button-bar__side--disabled {
    cursor: default !important;
}

.button-bar__side:hover {
    cursor: pointer;
    color: #E4E4E4;
}

.theme-dark .button-bar__side:hover {
    color: rgba(239,239,239,0.75);
}

.button-bar__side .icon {
    position: absolute;
    bottom: 24px;
    margin: 0;
}
