.button-bar {
    height: 55px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #E4E4E4;
}

.theme-dark .button-bar {
    border-color: rgba(239,239,239,0.6);
}

.button-bar__button {
    background-color: #1B75BB;
    color: #E4E4E4;
    width: 100%;
    height: 100%;
    flex: 1 1 0;
    text-align: center;
    position: relative;
}

.button-bar__button:first-child {
    border-right: 2px solid #E4E4E4;
}

.theme-dark .button-bar__button {
    background-color: transparent !important;
    color: rgba(239,239,239,0.75);
    border-color: rgba(239,239,239,0.6);
}

.button-bar__button .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

/* hover state */
.button-bar__button--enabled:hover {
    cursor: pointer;
    background-color: #1A4C73;
}

.theme-dark .button-bar__button--enabled:hover {
    background-color: rgba(27, 117, 187, 0.4);
}

/* disabled state */
.button-bar__button--disabled {
    background-color: rgb(61, 123, 170);
}

.theme-dark .button-bar__button--disabled {
    color: rgba(239,239,239,0.3);
}
