.button-bar {
    height: 55px;
    display: flex;
    justify-content: space-between;
    background-color: #1B75BB;
    border-top: 2px solid #E4E4E4;
}

.button-bar--disabled {
    background-color: rgb(61, 123, 170);
}

.theme-dark .button-bar {
    background-color: transparent;
    border-top: 2px solid rgba(239,239,239,0.6);
}

/* TODO: clean up styles */
.button-bar__button--center {
    border-left: 2px solid #E4E4E4;
    border-right: 2px solid #E4E4E4;
}

.main-layout .button-bar {
    margin: 0 -20px; /* needs to match main-layout padding */
}

.button-bar__section {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.left-border {
    border-left: 1px solid #E4E4E4;
}

.right-border {
    border-right: 1px solid #E4E4E4;
}

.theme-dark .button-bar__button--center {
    border-color: rgba(239,239,239,0.6);
}

.button-bar__button {
    color: #E4E4E4;
    width: 100%;
    height: 100%;
    flex: 1 1 0;
    text-align: center;
    position: relative;
}

.button-bar__button--settings {
    width: 70px;
    flex: 0 0 auto;
}

.theme-dark .button-bar__button {
    color: rgba(239,239,239,0.75);
}

.theme-dark
.button-bar--disabled
.button-bar__button:not(.button-bar__button--selected) {
    color: rgba(239,239,239,0.3);
}

.button-bar__button--selected,
.button-bar--enabled .button-bar__button:hover {
    cursor: pointer;
    background-color: #1a4c73;
}

.theme-dark .button-bar__button--selected,
.theme-dark .button-bar--enabled .button-bar__button:hover {
    background-color: rgba(27, 117, 187, 0.4);
}

.button-bar__button .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}