.setting-row {
    height: 100px;
    border-bottom: 2px solid #E4E4E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    cursor: default;
}

.theme-dark .setting-row {
    color: rgba(239,239,239,0.85);
    border-color: rgba(239,239,239,0.6);
}

.setting-row--clickable:hover {
    cursor: pointer;
    background-color: rgba(239,239,239,0.95);
}

.theme-dark .setting-row--clickable:hover {
    background-color: rgba(47, 48, 51, 0.6);
}

.setting-row__title {
    font-size: 16px;
}

.theme-dark .setting-row__title {
    color: rgba(256,256,256,0.95);
}

.setting-row__description {
    font-size: 14px;
    text-transform: uppercase;
}