.setting-button {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}

.setting-button__icon {
    margin: 0 !important;
    width: 22px;
}

.setting-button__icon:hover {
    cursor: pointer;
}

/* colors */
.setting-button__icon--home:hover {
    filter: brightness(0.8);
}

.setting-button__icon--settings {
    filter: brightness(0.5);
}

.setting-button__icon--settings:hover {
    filter: brightness(0.3);
}

.theme-dark .setting-button__icon--settings {
    filter: none;
}

.theme-dark .setting-button__icon--settings:hover {
    filter: brightness(0.8);
}
