.setting-button {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}

.setting-button__icon {
    margin: 0 !important;
    width: 22px;
}

.setting-button__icon:hover {
    cursor: pointer;
}

.setting-button__icon--home:hover {
    animation-name: home-hover;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.setting-button__icon--settings {
    filter: brightness(0.5);
}

.setting-button__icon--settings:hover {
    animation-name: setting-hover;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.theme-dark .setting-button__icon--settings {
    filter: none;
}

/* keyframes */
@keyframes home-hover {
    from {
        transform: rotate(-15deg);
    }

    to {
        transform: rotate(15deg);
    }
}

@keyframes setting-hover {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
