.setting-button {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}

.setting-button__icon {
    margin: 0 !important;
}

.setting-button__icon:hover {
    cursor: pointer;
}

/* colors */
.setting.setting-button__icon {
    color: #CCCCCC;
}
.setting.setting-button__icon:hover {
    color: #BBBBBB;
}

.home.setting-button__icon {
    color: rgba(232, 245, 255, 0.8);
}
.home.setting-button__icon:hover {
    color: rgba(232, 245, 255, 0.95);
}

.theme-dark .setting.setting-button__icon {
    color: rgba(239,239,239,0.3);
}
.theme-dark .setting.setting-button__icon:hover {
    color: rgba(239,239,239,0.45);
}

.theme-dark .home.setting-button__icon {
    color: rgba(239,239,239,0.6);
}
.theme-dark .home.setting-button__icon:hover {
    color: rgba(239,239,239,0.8);
}