.name-section {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center !important;
    margin: 24px 0;
    /* justify-content: space-between !important; */
}

.name-section__text {
    /* margin-left: 26px; */
    margin-left: 8px;
}

.country-name {
    line-height: 1;
    font-weight: 300;
    margin: auto 20px auto 5px;
}

.timezone {
    color: #808285;
    margin-top: 3px;
    margin-left: 1px;
}

.name-section__flag {
    /* margin-right: 1.5rem; */
}

.flag-img {
    border: 1px solid #DBDFE3;
    height: 58px;
}
