.search-bar {
    line-height: 1;
    width: 100%;
    position: relative;
    z-index: 1;
}

/* search bar input field */
.search-bar__input {
    background-color: rgba(256,256,256,0.25);
    border: 1px solid #DBDFE3;
    width: 100%;
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    padding: 4px;
    padding-right: 32px;
}

.theme-dark .search-bar__input {
    border-color: rgba(256,256,256,0.75);
    color: white;
}

.search-bar__input:focus {
    outline: none;
}

.search-bar__button-bar {
    margin: 0 6px !important;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.theme-dark .search-bar__icon {
    color: white;
}

/* search bar results wrapper */
.search-bar__results {
    position: absolute;
    left: 0.25px;
    right: 0.25px;
    max-height: 108px;
    overflow-y: scroll;
    border-right: 1px solid #DBDFE3;
    border-bottom: 1px solid #DBDFE3;
}

/* search bar single result */
.search-bar__results__result {
    background-color: rgba(256, 256, 256, 0.95);
    border: 1px solid #DBDFE3;
    border-top: none;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
}

.theme-dark .search-bar__results__result {
    background-color: rgba(19, 21, 27, 0.95);
    border-color: rgba(256,256,256,0.75);
    color: white;
}

.search-bar__results__result:last-child {
    border-bottom-width: 0;
}

.search-bar__results__name {
    font-weight: 500;
}

/* search bar no results */
.no-results {
    color: #989EA5;
    cursor: default;
}

.search-bar__results__result:not(.no-results):hover {
    background-color: rgba(239,239,239,0.95);
    cursor: pointer;
}

.theme-dark .search-bar__results__result:not(.no-results):hover {
    background-color: rgba(47, 48, 51, 0.95);
}