.infoRow {
    display: flex;
    font-size: 18px;
    font-weight: 400;
}

.infoRow:not(:last-child) {
    /* margin-bottom: 24px; */
    margin-bottom: 18px;
}

.icon-title {
    width: 150px;
    margin: auto 0;
    display: flex;
    text-align: center;
}

.title {
    margin: auto 0 auto 15px;
    color: #1B75BB;
}

.value {
    margin: auto 0;
    color: #808285;
}

.icon-img {
    width: 25px;
}