.infoRow {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    align-items: center;
}

.infoRow:not(:last-child) {
    margin-bottom: 18px;
}

.icon-title {
    width: 50%;
    margin: auto 0;
    display: flex;
    text-align: center;
}

.title {
    padding-left: 16px;
    color: #1B75BB;
}

.value {
    width: 50%;
    padding-left: 24px;
    color: #000000; /* #808285 */
    position: absolute;
    right: 0;
}

.value.very-long-value {
    font-size: 13px;
    line-height: 1;
}

.icon-img {
    width: 20px;
    height: 100%;
}