.infoRow {
    display: flex;
    font-size: 18px;
    font-weight: 400;
}

.infoRow:not(:last-child) {
    margin-bottom: 18px;
}

.icon-title {
    width: 45%;
    margin: auto 0;
    display: flex;
    text-align: center;
}

.title {
    margin-left: 18px;
    color: #1B75BB;
}

.value {
    width: 55%;
    color: #808285;
}

.icon-img {
    width: 20px;
    height: 100%;
}