.button-bar {
    width: 400px;
    height: 60px;
    margin: 0 -26px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgba(239,239,239,0.8);
}

.button-bar__section {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.left-border {
    border-left: 1px solid rgba(239,239,239,0.8);
}

.right-border {
    border-right: 1px solid rgba(239,239,239,0.8);
}

.button-bar__button {
    width: 100%;
    height: 100%;
    flex: 1 1 0;
    text-align: center;
    position: relative;
}

.button-bar__button:hover {
    background-color: rgba(239, 239, 239, 0.8);
    cursor: pointer;
}

.button-bar__button .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}