.button-bar {
    width: 400px;
    height: 60px;
    margin: 0 -26px;
    display: flex;
    justify-content: space-between;
    background-color: #1B75BB;
    border: 1px solid #E4E4E4;
    border-top: 2px solid #E4E4E4;
}

.button-bar__section {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.left-border {
    border-left: 1px solid #E4E4E4;
}

.right-border {
    border-right: 1px solid #E4E4E4;
}

.button-bar__button {
    color: #E4E4E4;
    width: 100%;
    height: 100%;
    flex: 1 1 0;
    text-align: center;
    position: relative;
}

.button-bar__button:hover {
    background-color: #1a4c73;
    cursor: pointer;
}

.button-bar__button .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}