.main-layout {
    width: 400px !important;
    height: 600px !important;
    padding: 0 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-layout.theme-dark {
    background-color: #13151b;
    color: #ffffff;
}

.background-image {
    position: absolute;
    z-index: 0;
    height: 110%;
    width: auto;
    top: -5%;
    right: -30%;
    opacity: 50%;
}