.search-bar {
    line-height: 1;
    width: 100%;
    position: relative;
}

.search-bar__input {
    width: 100%;
    position: relative;
    z-index: 2;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
}

.search-bar__button-bar {
    margin: 0 6px !important;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.search-bar__results {
    position: absolute;
    left: 0.25px;
    right: 0.25px;
    max-height: 96px;
    overflow-y: auto;
}

.search-bar__results__result {
    border: 1px solid #DBDFE3;
    border-top: none;
    padding: 8px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
}

.no-results {
    color: #989EA5;
    cursor: default;
}

.search-bar__results__result:not(.no-results):hover {
    background-color: #EFEFEF;
    cursor: pointer;
}

.search-bar__results__name {
    font-weight: 500;
}